<article class="span3 mid">
  <div class="img">
    <%= image_tag issue.cover(:th_new)%>
    <div class="overlay"></div>
  </div>
  <div class="info">
    <h1><%= link_to truncate(issue.title), issue, issue: issue.title %></h1>
    <p class="details"><%= issue.created_at.to_date.to_s(:long)%> | <%= link_to "BlanckDigital", root_url%></p>

  </div>

</article>