<h3>Recent Magazines</h3>
<% @issues.in_groups_of(4, false) do |row_post|%>
    <div class="row-fluid">
      <% row_post.each do |post| %>
          <%= render post %>
      <% end %>
    </div>
<% end %>
<div class="pagination">
  <ul>
    <%= will_paginate(@issues)%>
  </ul>
</div>


