<%= provide(:page_title) do %>
    Dashboard
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="social-box">
      <div class="header">
        <h4>Admin Panel</h4>
      </div>
      <div class="body">
        <% if current_user.sign_in_count == 1 %>
            <p class="alert alert-info">
              Hi <%= current_user.display_name %> Welcome to School<br /> For your continued security please click the button below to change your password.<br /> If you have already changed your password, please ignore this message. <br/><br/>
              <%= link_to "Change My Password", change_password_manage_administrator_path(current_user), class: "btn" %>
            </p>
        <% end %>
      </div>
    </div>
  </div>
</div>







