<h3>Blanck TV</h3>
<% @videos.in_groups_of(3, false) do |row_post|%>
    <div class="row-fluid">
      <% row_post.each do |post| %>
          <%= render "video", post: post%>
      <% end %>
    </div>
<% end %>
<div class="pagination">
  <ul>
    <%= will_paginate(@videos)%>
  </ul>
</div>

<!--END CONTENT-->