<div class="post-slider span6">
  <div class="">
    <% if @mags.any? %>
        <section class="slider cover">
          <div class="flexslider" style="margin-bottom: 31px;">
            <ul class="slides">
              <% @mags.each do |mag| %>
                  <li>

                    <a href="<%= url_for mag%>">
                      <%= image_tag mag.cover(:large) %>
                    </a>
                  </li>
              <% end %>

            </ul>
          </div>
        </section>

    <% end %>

    <!-- franka-back -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:100px"
         data-ad-client="ca-pub-9043194741260146"
         data-ad-slot="5394751136"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
