<div class="post-slider span6">
  <div class="">
    <% if @mags.any? %>
        <section class="slider cover">
          <div class="flexslider" style="margin-bottom: 31px;">
            <ul class="slides">
              <% @mags.each do |mag| %>
                  <li>

                    <a href="<%= url_for mag.mag_url %>">
                      <%= image_tag mag.cover(:large) %>
                    </a>
                  </li>
              <% end %>

            </ul>
          </div>
        </section>

    <% end %>
    <h3 style="text-align: center;" class="blanck-more">More from Blanck</h3>
  </div>
</div>
