<article class="span3 mid box">
  <div class="img">
    <%= link_to image_tag(post.post_image(:th_new)), post %>
  </div>
  <div class="info">
    <h1><%= link_to truncate(post.title, length: 100, omission: ".."), post, title: post.title %></h1>
  </div>

</article>