<article class="span3 mid box">
  <div class="img">
    <%= link_to image_tag(post.post_image(:th_new)), post %>
  </div>
  <div class="info">
    <p class="tags">
      <%= raw post.categories.map { |tag| link_to tag.name, category_path(tag) }.join(" ") %>
    </p>
    <h1><%= link_to truncate(post.title, length: 60, omission: ".."), post, title: post.title %></h1>
  </div>

</article>