<div class="row-fluid">
  <%= render 'cover' %>
  <div class="span6">
    <% @top_posts.in_groups_of(2, false) do |row_posts|%>
        <div class="row-fluid">
          <%= render partial: "top_posts", collection: row_posts, as: :post %>
        </div>
    <% end %>
  </div>

</div>

<div class="row-fluid transitions-enabled infinite-scroll clearfix" id="masonry-container">
    <%= render @more_posts unless @more_posts.nil? %>
</div>


<div class="pager" style="display: none;">
  <%= render "page_nav", posts: @posts %>
</div>


