<div class="row-fluid">
  <%= render 'cover' %>
  <%= render partial: "top_posts", collection: @top_posts, as: :post %>
</div>

<div class="row-fluid transitions-enabled infinite-scroll clearfix" id="masonry-container">
    <%= render @more_posts unless @more_posts.nil? %>
</div>


<div class="pager" style="display: none;">
  <%= render "page_nav", posts: @posts %>
</div>


