
<div class="submissions">
<p>The beauty of a 'Blanck' page is the attraction and freedom

it gives you to express yourself in pictures, words and art. It

is neither limiting nor restrictive, unlike Life that is the art of

drawing without an eraser, the Blanck page enables us to find

ourselves and lose ourselves at the same time, it allows us to

make interesting, amazing, glorious and fantastic mistakes.

Break rules and leave the world more interesting than we met

it.

</p>

<p>
  Blanck is an open book and everyone is welcome to write,

  draw, paint and post a picture on it. We aim to celebrate

  everything creative, from fashion to beauty, celebrity news,

  entertainment, technology, arts and culture. It’s a gift to the

  world and every being in it. It is significant of a fresh start and

  great opportunity to thrive beyond expectations.
</p>

<p>
  Blanck is a publication that seeks to bridge the gap between

  possible and impossible by creating a sweet blend of opposites,

  unifying them and telling the world that art need not always be

  beautiful but meaningful.
</p>

<p>
  Our aim is to showcase the best in street and high fashion,

  using creatively crafted pieces from both known and upcoming

  but talented designers in Africa and beyond. We will also use

  this platform to project celebrity fashion and lifestyle as every

  edition will feature one or more outstanding iconic individuals

  either on cover or inside of the publication. Their stories will be

  written by a crop of gifted word smiths and pictures of them will

  definitely be of the highest quality in photography.
</p>
<p>
Beyond all of these, Blanck digital will be the publication that

creatively unifies all races, telling untold stories and celebrating

silent heroes. The publication is focused on young, working and

upwardly mobile individuals living in Africa and beyond. It is

primarily targeted at the intelligent, quick- witted, creative minds

open to new worlds, unafraid of embracing it.
  </p>

<p>
  Having said the above, we welcome everyone with something

  meaningful, beautiful, creative and exciting to say. Feel free to

  submit your fashion editorials, look books, articles and news to

  our platform and we will be happy to publish them for you.
</p>
<p>
  Please note that we always vet the contents that are sent in to

  ensure that the standard and quality of work showcased on our

  platform is up to par.
</p>

<p>
  To submit your work, please send contents/files to

  info@blanckdigital.com.  <br/>

  Best wishes.<br/>

  Blanck team
</p>
    </div>

