<%= provide :title, "Blanck Page"%>
<h3>Blog</h3>
<% @posts.in_groups_of(3, false) do |row_post|%>
    <div class="row-fluid">
      <% row_post.each do |post| %>
          <%= render "categories/post", post: post%>
      <% end %>
    </div>
<% end %>
<div class="pagination">
  <ul>
    <%= will_paginate(@posts)%>
  </ul>
</div>

<!--END CONTENT-->