<%= provide :title, "Blanck Page"%>
<h3>Blog</h3>
<div class="row-fluid transitions-enabled infinite-scroll clearfix" id="masonry-container">
    <%= render @posts  %>
</div>

<div class="pager" style="display: none;">
  <%= render "page_nav", posts: @posts %>
</div>

<!--END CONTENT-->