<%= provide :title, "Blanck Page"%>
<h3>Blog</h3>
<div class="row-fluid transitions-enabled infinite-scroll clearfix" id="masonry-container">
  <% cache(action: 'index', action_suffix: 'all_posts') do %>
    <%= render @posts  %>
  <% end %>
</div>


<div class="pager" style="border-top: none;">
  <%= render "page_nav", posts: @posts %>
</div>

<!--END CONTENT-->