/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap3
 *= require font-awesome
 *= require style
 *= require nprogress
 *= require nprogress-bootstrap
 *= require flexslider
 *= require_self
 */



body {
  font-family: open_sansregular,Helvetica,Arial;
  font-weight: normal;
}

#account-info {
    width: 100%;
    height: 33px;
    color: #000;
    padding-top: 10px;
    top: 0;
    left: 0;
    z-index: 999;
}

.welcome li.country-select {
    border: 0;
    padding-left: 0
}

.welcome {
    float: left;
    width: 50%;
    bottom: 0;
    line-height: 18px;
    list-style-type: none;
    display: inline-block;
  margin-left: 0;
}

.welcome li {
    float: left;
    position: relative;
    font-size: 14px;
    border-left: 1px solid #000;
    padding: 0 7px;
}

.welcome li a {
    color: #000;
}

#account-info #sign-in-links {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 100%;
    line-height: 18px;
    font-size: 14px;
    margin-top: -30px !important;
}

#account-info #sign-in-links a{
    color: #000;
}


#account-info #sign-in-links #header-sign-in {
    margin-left: 10px;
}


#account-info #sign-in-links #header-sign-in {
    margin-left: 10px;
}

#account-info #sign-in-links>li {
    display: inline;
    float: right;
    position: relative;
    margin-left: 12px;
}

.clear {
    clear: both;
}

#account-info #sign-in-links #header-shopping-bag {
    position: relative;
    display: block;
    text-align: center;
    padding-top: 3px;
    width: 22px;
    height: 18px;
    background: image-url('sprite1x.png') no-repeat;
    background-position: 0 -282px;
}

.space{
    margin-left: -19px;
    position: relative;
    top: -3px;
}

.nocolor{
    color: #000;
}

#header-mid {
    text-align: center;
    margin-left: 260px;
    margin-top: -13px;
  margin-bottom: 5px;
  a{
    display: block;
  }
}

.navbar .divider-vertical {
    width: 1px;
    height: 40px;
    margin: 0 9px;
    overflow: hidden;
    background-color: #222222;
    border-right: 1px solid #333333;
}



.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav>li {
    display: table-cell;
    width: 0;
    float: none;
  font-family: LeagueGothic;
  font-size: 22px;
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

#Promospace{
    margin-top: -3px;
}


#leftcol{
    margin-top: 20px;
  border-right: 1px solid #000;

}

#rightcol{
    margin-top: 20px;
}

#content{
    margin-bottom: 40px;
}

#story{
    margin-top: 30px;
}

.captn_text a{
    font-size: 35px;
    text-align: center;
    color: #000;
    position: relative;
    display: block;
  margin-bottom: 15px;
  font-family: BebasNeueRegular;
}

.captn_text a:hover{
    text-decoration: none;
}

.captn_text a:before{
    content: image-url('line.png') repeat-x;
    position: absolute;
    top: -10px;
    left: 0;

}
.captn_text a:after{
    content: image-url('line.png') repeat-x;
    position: absolute;
    top: -10px;
    left: 446px;
}

.captn_text p{
    margin-left: -18px;

}


.lefthead{
    font-family: LeagueGothic;
    font-size: 47px;
    font-weight: lighter;
    color: #000;
    margin-bottom: 3px;
    line-height: 47px;

}

.story_a,
.story_b{
    margin-top: 20px;
}

p.leftdesc{
    font-family: cac_champagneregular;
    font-size: 32px;
    line-height: 27px;
}

.lefttext{
    margin-top: 50px;
}

.lefttext a{
    color: #000;
}

.lefttext a:hover{
    text-decoration: none;
}

.ind{
    text-indent: 2px;
}

.story_a .lefttext,
.story_c .lefttext{
    float: left;
}

.story_b .leftpic,
.story_d .leftpic{
    margin-left: 8px;
}

#mag_issues{
    margin-top: 30px;
}

#magz{
    margin-top: 20px;
}

.story_b .leftdesc,
.story_d .leftdesc{
    text-align: right;
}



.righttext p{
    font-family: BebasNeueRegular;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.righttext p:before{
    content: image-url('line2.png') repeat-x;
    position: absolute;
    bottom: 7px;
    right: 270px;
}
.righttext p:after{
    content: image-url('line2.png') repeat-x;
    position: absolute;
    bottom: 7px;
    left: 270px;

}

.righttext{
    position: relative;
}

.rightnew{
    position: relative;
    border-bottom: 1px dashed #838080;
    padding-top: 10px;
}


.inner{
    position: relative;
    padding: 28px 0;

}

.inner a{
    color: #000;
}

.inner a:hover{
    text-decoration: none;
}


.topic{
    font-family: LeagueGothic;
    font-size: 27px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    line-height: 25px;
    margin-top: 0px;
}

.topic:hover{
    color: #da4f49;
}

.img_show img{

}

.drop{
    font-size: 17px;
    color: #000;
    text-transform: capitalize;
  line-height: 29px;
  font-family: 'Vollkorn', serif;
}



.Designertag{
    z-index: 3;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -27px;
}

.imageright{
    z-index: 1;
    position: relative;
}

.imageright a{
    text-decoration: none;
}

.Designertag p{
    background: image-url('bgnag.png');
    font-family: NixieOneRegular;
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    text-align: center;
    position: relative;
    z-index: 5;
    width: inherit;
}

.google_ad{
    padding: 25px 0;
}

.Designertag p{
    padding: 8px 8px 0 8px;
}

.Designertag p.crumbs{
    font-family: NixieOneRegular;
    font-size: 17px;

}

.Designertag p.head{
    margin-bottom: -3px;
}

#footer_wrap{
    margin-top: 90px
}

#social-media-bar {
    padding-top: 30px;
    background: image-url('gradient.jpg') center top no-repeat;
}

#social-media-bar .line {
    background: #e5e5e5;
    height: 1px;
    position: relative;
    top: 10px;
    z-index: 0;
}

#footer_wrap #social-media-links {
    background: #fff;
    margin: 0 370px;
    top: -8px;
    position: relative;
}

#footer_wrap #social-media-links li {
    display: inline;
    list-style: none;
    float: left;
    background: #fff;
}

#footer_wrap #social-media-links .facebook a {
    background-position: 0 -433px;
}

#footer_wrap #social-media-links .twitter a {
    background-position: 0 -305px;
}

#footer_wrap #social-media-links a {
    height: 32px;
    width: 34px;
    display: block;
    margin-top: 1px;
    background: image-url('sprite1x.png') no-repeat;
}

#footer_wrap #social-media-links .pinterest a {
    background-position: 0 -215px;
}

#footer_wrap #social-media-links .googleplus a {
    background-position: 0 -171px;
}

#footer_wrap #social-media-links .youtube a {
    background-position: 0 -137px;
}

#footer_wrap #siteFooter a {
    color: #999;
    text-decoration: none;
}

#viewbut{
    font-size: 11px;
    width: 102px;
    height: 20px;
    padding: 0;
    margin-top: 1px;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    padding: 12px 13px 4px;
    text-shadow: -1px 1px 0 #fff;
    letter-spacing: 1px;
    border-radius: 0;
}



.product-list-menu{
    margin-top: 32px;
}

.pagn li{
    display: inline;
    float: left;
}

#ral{
    position: relative;
}

#rule{
    border-top: 0;
    border-bottom: 1px dotted #999;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#digtz p{
    color: #666;
    font-size: 12px;
    background: #FFF;
    position: absolute;
    z-index: 3;
    top: 2px;
    height: 20px;
    width: 62px;
    left: 412px;
    padding: 0 10px;
}


#product_view{
    margin-top: 30px;
}
.side_list{
    border-bottom: dotted 1px #000;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-left: 0;
}

.side_list a{
    color: #000;
    font-family:open_sansregular;
    font-size: 12px;
    text-decoration: none;
}

.side_list>li{
    list-style: none;
    font-size: 14px;
}

.side_list>li>a{
    font-size: 14px;
}

.has_child>a{
    color: #ADA4A4;
}

.siz li{
    list-style: none;
}

.catehead{
    font-weight: bold;
    font-size: 16px;
    font-family: open_sansregular;
}

#view{
    margin-left: 20px;
}

#main{
    margin: 0 0 40px 46px;
}
.description{
    margin-top: 8px;
    font-family: open_sansregular;
    font-size: 12px;
}

.description a{
    color: #000
}
.designer {
    font-weight: bold;
    text-transform: uppercase;
}

.slug {
    font-family: gillsans;
    border: 1px solid #999;
    color: #666;
    font-size: 10px;
    padding: 1px 5px;
    position: relative;
    top: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}



.story_a{
  border-bottom: 1px dashed #000;
  overflow: hidden;
  margin-left: 10px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 14px;
  .image-box{
    float: left;
    width: 170px;
    margin-right: 7px;
  }
  .story-text{
    float: right;
    width: 222px;
    font-size: 22px;
    a{
      display: block;
      &:hover{
        text-decoration: none;
        color: #909090;
      }
    }
  }
}

.story_b{
  border-bottom: 1px dashed #000;
  overflow: hidden;
  margin-left: 10px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 14px;
  .image-box{
    float: right;
    width: 170px;
    margin-left: 7px;
  }
  .story-text{
    float: left;
    width: 222px;
    font-size: 22px;
    a{
      display: block;
      &:hover{
        text-decoration: none;
        color: #909090;
      }
    }
  }
}

.story_link{
  float: left;
  margin-bottom: 10px;
  height: 216px;
  display: block;
  z-index: 5;
  top: 0;
  left: 0;
  position: absolute;
}

#header-nav{
  .navbar-inner{
    border-radius: 0;
    a{
      color: #fff;
    }
  }
}

.show_header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  a{
    color: #000;
    text-decoration: none;
    font-family: AmerikaSansRegular;
    font-size: 0.7em;
    font-weight: normal;
    line-height: 32px;
  }
}

#blog_show {
  margin-top: 20px;
}

.blog_meta {
  font-size: 12px;
  color: #868686;
  padding: 8px 0;
  margin-bottom: 0;
  font-family: open_sansregular;
}

#show_news p {
  padding: 0;
  text-align: justify;
  font-family: open_sansregular,Helvetica,Arial;
}

.category {
  font-weight: normal;
  text-transform: uppercase;
  font-family: open_sansregular,Helvetica,Arial;
  font-size: 13px;
}

.media {
  overflow: hidden;
  padding: 0 25px 0 0;
}

.media-center {
  padding: 0 0 30px 0;
}

.pager {
  padding: 10px 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}


#subscribe {
  overflow: hidden;
}

.subscription_header {
  border-bottom: 1px solid #ccc;
  padding-top: 0;
  padding: 0;
}

.subscription_header h3 {
  color: #181717;
  text-align: center;
  font-family: AmerikaSansRegular,TimelessRegular, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: 1px 1px 0px #F2F2F2, 1px 2px 0px #B1B1B2;
  margin: 0;
  padding-bottom: 4px;
}

.email_sub {
  padding: 10px 0;
  overflow: hidden;
}

.email_sub input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -o-border-radius: 0;
  float: left;
}

.email_sub .btn.sub {
  margin: 0 0 0 -6px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.divider, .divider_b {
  height: 0px;
  border-bottom: 1px dashed #dedede;
}

.aside_wrap {
  padding: 5px;
  border: 1px solid #ccc;
}

#hot_list .subscription_header {
  padding: 0;
}

.aside_wrap ul {
  margin-left: 0;
}
.hot_items {
  list-style: none;
  margin: 0;
}

.hot_items li {
  padding: 10px 5px;
  border-bottom: 1px dashed #ccc;
}

.hot_items li:last-child {
  border-bottom: none;
}

.hot_items li a {
  text-transform: uppercase;
}

a {
  color: #000;
  cursor: pointer;
}


.header_b {
  text-align: center;
  padding: 20px 10px;
}

.header_b h1 {
  color: #181717;
  text-align: center;
  font-family: AmerikaSansRegular,TimelessRegular, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: 1px 1px 0px #F2F2F2, 1px 2px 0px #B1B1B2;
}

.header_title h1 {
  font: bold 3.5em/1.3em AmerikaSansRegular,sans-serif,'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
  font-weight: normal;
}

.header_title h1 a {
  color: #282828;
  text-shadow: 1px 1px 0px #F2F2F2, 1px 2px 0px #B1B1B2;
  text-decoration: none;
}

.post {
  margin-top: 15px;
  border-top: 1px dashed #ccc;
  overflow: hidden;
  &:first-child{
    border-top: 0;
  }
}

.article_thumb {
  width: 238px;
  float: left;
  cursor: pointer;
  margin-top: 20px;
  max-width: 220px;
}

.aricle_ref_box {
  margin-left: 230px;
}

.heading_blog h2 {
  font-size: 22px;
  margin-bottom: 0;
}
.heading_blog h1, .heading_blog h2, .heading_blog h3, .heading_blog h4 {
  font-family: AmerikaSansRegular,TimelessRegular, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
.post h2 {
  text-align: justify;
}

.post h2 a {
  font-size: 0.8em;
}

.post .caption p {
  padding: 2px;
}
.post .blog_meta {
  font-size: 10px;
}
.caption p {
  padding: 15px 5px 5px 2px;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}

#show_vid .vid_header {
  padding: 15px 0;
}

#vid_holder .thumbnails > li {
  margin-bottom: 25px;
  position: relative;
}

#vid_holder .thumbnail {
  webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -o-border-radius: 0;
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -o-box-shadow: none;
  padding: 7px 7px 0 7px;
  .player{
    display: block;
    &:hover{
      .player-large {
        background: image-url('play-hover.png') 50% 50% no-repeat;
      }
    }
  }
}

.vid_detail h3 {
  font-size: 18px;
  line-height: 20px;
}

.vid_meta {
  font-size: 8px;
  color: #868686;
  font-family: open_sansregular;
  margin: -8px 0 0 0;
}

.player-large {
  width: 275px;
  height: 223px;
  background: image-url('play.png') 50% 50% no-repeat;
  position: absolute;
  top: 9px;
  left: 8px;
  z-index: 10;
}

.submissions{
  line-height: 28px;
  margin-top: 20px;
}


.footer_menu {
  margin-left: 0;
  border-bottom: 1px solid #ccc;
  padding: 4px 0;
}

.col6 {
  overflow: hidden;
  background: image-url('col6.png') repeat-y -1px;
}

ul.footer_menu> li > a {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.posts-list li {
  overflow: hidden;
  padding: 24px 0 0 0;
  border-bottom: 0;
}

.posts-list li:first-child {
  padding-top: 0;
}

.posts-list li {
  line-height: 1.5;
}

.posts-list li > a {
  float: left;
  position: relative;
  -moz-transform: translate3d(0, 0, 0);
}

.posts-list img {
  float: left;
  width: 85px;
  height: auto;
}

.appear {
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.posts-list .content {
  margin-left: 103px;
  line-height: 1;
  min-height: 73px;
  border-bottom: 1px solid #d9d9d9;
  .post-meta{
    margin-bottom: 8px;
     a{
       color: #9c9c9c;
       display: inline;
       font-size: 11px;
     }
  }
}

.posts-list .content time {
  color: #a6a6a6;
  font-size: 11px;
  text-transform: uppercase;
}

.posts-list .content > a {
  display: block;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.615;
  margin: 8px 0;
  margin-bottom: 0;
}

article.big .info {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background: rgba(0,0,0,0.5);
  height: 100px;
  h1{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 0;
    a{
      color: #fff;
    }
  }
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

#twitter-widget-0{
  max-height: 680px !important;
}

h1{
  a{
    font-family: PerpetuaTitlingMTW01-Li !important;
    font-weight: normal;
    letter-spacing: 3px;
    font-size: 24px;
    text-transform: uppercase;

  }
}

.menu{
  li{
    .basic-c{
      font-family: PerpetuaTitlingMTW01-Li !important;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}



.container{
  border: 1px solid #c7c7c7;
  border-top: 0;
  border-bottom: 0;
}


nav .form-search{
  padding: 25px 0;
  margin: 0 0 0 30px;
  display: block;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 9px;
  padding-top: 11px;
  margin-right: 32px;
  padding-bottom: 10px;
  .input-append{
    width: 210px;
    float: right;
  }
}

article{
 position: relative;
}

.info-star{
  position: absolute;
  top: 106px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  width: 86%;
  color: #fff;
  h1{
    a{
      color: #fff;
    }
  }
}

