<%= provide :title, "#{@category.name}"%>

<h3><%= @category.name %></h3>

<div class="row-fluid transitions-enabled infinite-scroll clearfix" id="masonry-container">
  <% cache(action: 'show', action_suffix: @category.name ) do %>
    <%= render @posts  %>
  <% end %>
</div>


<div class="pager">
  <%= render "page_nav", posts: @posts %>
</div>

<!--END CONTENT-->