<%= provide :title, "Blanck Page"%>
<h3>Blanck Page <span class="pull-right"><%= link_to "Place my submission here", new_blanckpage_post_entry_path, class: "btn btn-success" %></span></h3>
<% @post_entries.in_groups_of(3, false) do |row_post|%>
    <div class="row-fluid">
      <% row_post.each do |post_entry| %>
          <%= render post_entry %>
      <% end %>
    </div>
<% end %>
<div class="pagination">
  <ul>
    <%= will_paginate(@post_entries)%>
  </ul>
</div>

<!--END CONTENT-->