<article class="span4 small">
  <img src="/assets/img/posts/small/small_11.jpg" alt="post6">
  <div class="info">
    <p class="tags">
      <a href="">Science</a>
      <a href="">lifestyle</a>
    </p>
    <h1><a href="">Miami Woman Fashion</a></h1>
    <p class="details">Sep 25, 2013 | <a href="author.html">Alex Grosville</a></p>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>

  </div>
  <ul class="counters inline">
    <li>
      <a href=""><i class="fa fa-eye"></i>15271</a>
    </li>
    <li>
      <a href=""><i class="fa fa-comment"></i>25</a>
    </li>
    <li>
      <a href=""><i class="fa fa-heart"></i>724</a>
    </li>
  </ul>
</article>