<!--END HEADER-->

<!--LOGIN FORM-->
<div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Login</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-prepend">
        <i class="add-on fa fa-user"></i>
        <input type="text" placeholder="Username">
      </div>
      <div class="input-prepend">
        <i class="add-on fa fa-lock add-on"></i>
        <input type="password" placeholder="Password">
      </div>
      <input class="btn btn-block" type="submit" value="Login">
    </form>
    <a href="">Lost your password?</a>
  </div>
  <div class="modal-footer">
    <p>Not a member? <a href="#register" data-toggle="modal">Register</a></p>
  </div>
</div>
<!--END LOGIN FORM-->

<!--REGISTER FORM-->
<div id="register" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="register" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Register</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-prepend">
        <i class="add-on fa fa-user"></i>
        <input type="text" placeholder="Username">
      </div>
      <div class="input-prepend">
        <i class="add-on fa fa-lock add-on"></i>
        <input type="password" placeholder="Password">
      </div>
      <input class="btn btn-block" type="submit" value="Register">
    </form>
    <p>A password will be e-mailed to you.</p>
  </div>
</div>
<!--REGISTER FORM-->